@import "tailwindcss";

body {
    width: 90vw;
    margin: 0 auto;
}

.icon:hover{
 transform: scale(1.5);
}

.project{
    transition: opacity 0.5s ease;
}

.projectContainer:hover > :not(:hover){
    opacity: 0.75;

}

